<div fxLayout="row">
  <div  class="pr-8">
      <ion-label class="big-title bold pb-8">
          {{countdown.days}}
      </ion-label>
      <ion-label class="title secondary-text">
          d
      </ion-label>
  </div>

  <div class="px-8">
      <ion-label class="big-title bold pb-8">
          {{countdown.hours}}
      </ion-label>
      <ion-label class="title secondary-text">
          h
      </ion-label>
  </div>

  <div class="pl-8">
      <ion-label class="big-title bold pb-8">
          {{countdown.minutes}}
      </ion-label>
      <ion-label class="title secondary-text">
          m
      </ion-label>
  </div>

<!--  <div class="px-8">-->
<!--      <ion-label class="big-title bold pb-8">-->
<!--          {{countdown.seconds}}-->
<!--      </ion-label>-->
<!--      <ion-label class="title">-->
<!--          s-->
<!--      </ion-label>-->
<!--  </div>-->

</div>
